<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>brain_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,900},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>brain_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,800},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>bread_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,700},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>bread_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,700},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>brush_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,700},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>brush_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,900},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>compass_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,800},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>compass_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,700},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>cross_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,600},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>cross_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,600},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>crosshair_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,600},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>crosshair_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,600},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>cube_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,900},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>cube_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,800},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>eye_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,700},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>eye_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,600},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>flag_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,500},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>flag_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,500},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>gear_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,500},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>gear_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,500},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>maze_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,500},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>maze_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,400},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>menu_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,400},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>menu_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,400},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>note_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,400},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>note_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,400},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>ok_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,300},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>ok_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,300},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>plane_x_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,300},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>plane_x_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,300},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>plane_y_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,300},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>plane_y_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,200},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>plane_z_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,200},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>plane_z_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,200},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>planes_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,200},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>planes_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,200},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>r_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,100},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>r_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,100},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>signpost_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,100},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>signpost_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,100},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>speaker_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,100},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>speaker_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,0},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>wool_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,0},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>wool_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,0},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>x_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,0},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
		<key>x_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{98,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>interface.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:52b63122406908d119011400316323d6$</string>
		<key>textureFileName</key>
		<string>interface.png</string>
	</dict>
</dict>
</plist>
