<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{133,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,102}}</string>
                <key>sourceSize</key>
                <string>{133,102}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,0},{124,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,101}}</string>
                <key>sourceSize</key>
                <string>{124,101}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,0},{131,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,102}}</string>
                <key>sourceSize</key>
                <string>{131,102}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{132,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,102}}</string>
                <key>sourceSize</key>
                <string>{132,102}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,0},{133,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,102}}</string>
                <key>sourceSize</key>
                <string>{133,102}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,0},{132,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,102}}</string>
                <key>sourceSize</key>
                <string>{132,102}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,0},{132,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,102}}</string>
                <key>sourceSize</key>
                <string>{132,102}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,0},{132,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,102}}</string>
                <key>sourceSize</key>
                <string>{132,102}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,0},{132,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,101}}</string>
                <key>sourceSize</key>
                <string>{132,101}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,0},{132,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,102}}</string>
                <key>sourceSize</key>
                <string>{132,102}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,0},{136,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,102}}</string>
                <key>sourceSize</key>
                <string>{136,102}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,0},{87,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,102}}</string>
                <key>sourceSize</key>
                <string>{87,102}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,0},{92,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{92,99}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,0},{88,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,102}}</string>
                <key>sourceSize</key>
                <string>{88,102}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,0},{90,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{90,102}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,0},{89,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,102}}</string>
                <key>sourceSize</key>
                <string>{89,102}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,0},{89,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,101}}</string>
                <key>sourceSize</key>
                <string>{89,101}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{90,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{90,102}</string>
            </dict>
            <key>back_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,102},{322,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,117}}</string>
                <key>sourceSize</key>
                <string>{322,117}</string>
            </dict>
            <key>back_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,102},{322,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,117}}</string>
                <key>sourceSize</key>
                <string>{322,117}</string>
            </dict>
            <key>difficulty_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,102},{507,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,102}}</string>
                <key>sourceSize</key>
                <string>{507,102}</string>
            </dict>
            <key>difficulty_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,102},{507,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,102}}</string>
                <key>sourceSize</key>
                <string>{507,102}</string>
            </dict>
            <key>facebook_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,219},{592,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,117}}</string>
                <key>sourceSize</key>
                <string>{592,117}</string>
            </dict>
            <key>facebook_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,219},{592,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,117}}</string>
                <key>sourceSize</key>
                <string>{592,117}</string>
            </dict>
            <key>minus_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,219},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>minus_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,219},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>music_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,219},{369,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,117}}</string>
                <key>sourceSize</key>
                <string>{369,117}</string>
            </dict>
            <key>music_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,336},{369,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,117}}</string>
                <key>sourceSize</key>
                <string>{369,117}</string>
            </dict>
            <key>new_game_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,336},{594,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,118}}</string>
                <key>sourceSize</key>
                <string>{594,118}</string>
            </dict>
            <key>new_game_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,336},{594,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,118}}</string>
                <key>sourceSize</key>
                <string>{594,118}</string>
            </dict>
            <key>off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,336},{236,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,117}}</string>
                <key>sourceSize</key>
                <string>{236,117}</string>
            </dict>
            <key>on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,336},{191,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,117}}</string>
                <key>sourceSize</key>
                <string>{191,117}</string>
            </dict>
            <key>one_player_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{682,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,117}}</string>
                <key>sourceSize</key>
                <string>{682,117}</string>
            </dict>
            <key>one_player_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,454},{682,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,117}}</string>
                <key>sourceSize</key>
                <string>{682,117}</string>
            </dict>
            <key>options_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,454},{497,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,117}}</string>
                <key>sourceSize</key>
                <string>{497,117}</string>
            </dict>
            <key>options_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,571},{497,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,117}}</string>
                <key>sourceSize</key>
                <string>{497,117}</string>
            </dict>
            <key>play_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,571},{297,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,117}}</string>
                <key>sourceSize</key>
                <string>{297,117}</string>
            </dict>
            <key>play_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,571},{297,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,117}}</string>
                <key>sourceSize</key>
                <string>{297,117}</string>
            </dict>
            <key>plus_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,571},{96,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>plus_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,571},{96,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>resume_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,571},{464,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,118}}</string>
                <key>sourceSize</key>
                <string>{464,118}</string>
            </dict>
            <key>resume_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,689},{464,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,118}}</string>
                <key>sourceSize</key>
                <string>{464,118}</string>
            </dict>
            <key>sound_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,689},{402,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,117}}</string>
                <key>sourceSize</key>
                <string>{402,117}</string>
            </dict>
            <key>sound_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,689},{402,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,117}}</string>
                <key>sourceSize</key>
                <string>{402,117}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,689},{772,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{772,112}}</string>
                <key>sourceSize</key>
                <string>{772,112}</string>
            </dict>
            <key>tutorial_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,807},{556,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,118}}</string>
                <key>sourceSize</key>
                <string>{556,118}</string>
            </dict>
            <key>tutorial_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,807},{556,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,118}}</string>
                <key>sourceSize</key>
                <string>{556,118}</string>
            </dict>
            <key>twitter_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,807},{501,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,117}}</string>
                <key>sourceSize</key>
                <string>{501,117}</string>
            </dict>
            <key>twitter_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,925},{501,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,117}}</string>
                <key>sourceSize</key>
                <string>{501,117}</string>
            </dict>
            <key>two_players_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,925},{759,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{759,117}}</string>
                <key>sourceSize</key>
                <string>{759,117}</string>
            </dict>
            <key>two_players_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,925},{759,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{759,117}}</string>
                <key>sourceSize</key>
                <string>{759,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2040,1042}</string>
            <key>textureFileName</key>
            <string>menu2.png</string>
        </dict>
    </dict>
</plist>
