<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievements_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{850,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{850,117}}</string>
                <key>sourceSize</key>
                <string>{850,117}</string>
            </dict>
            <key>achievements_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,117},{850,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{850,117}}</string>
                <key>sourceSize</key>
                <string>{850,117}</string>
            </dict>
            <key>leaderboards_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{860,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,117}}</string>
                <key>sourceSize</key>
                <string>{860,117}</string>
            </dict>
            <key>leaderboards_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,351},{860,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,117}}</string>
                <key>sourceSize</key>
                <string>{860,117}</string>
            </dict>
            <key>progress_off_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,468},{589,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,118}}</string>
                <key>sourceSize</key>
                <string>{589,118}</string>
            </dict>
            <key>progress_on_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{589,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,118}}</string>
                <key>sourceSize</key>
                <string>{589,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>progress_menu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6db5a2f5ed2d78ebbd3aac1ea913a492$</string>
            <key>textureFileName</key>
            <string>progress_menu.png</string>
        </dict>
    </dict>
</plist>
